.main-nav .logo {
  margin-right: 93px;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--secondary-font);
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.logo span {
  color: var(--accent-clr);
}
