:root {
  /* Color */
  --main-clr: #212121;
  --secondary-clr: #757575;
  --accent-clr: #2196f3;
  --btn-accent-bg-cl: #188ce8;
  --secondary-accent-clr: #ffffff;
  --main-bgd-clr: #f5f5f5;
  --secondary-bgd-clr: #2f303a;
  --accent-bgd-clr: #f5f4fa;
  --header-boarder-clr: #ececec;
  --icons-clr: #afb1b8;
  --icons-footer-bgd-clr: rgba(255, 255, 255, 0.1);
  /* Font */
  --main-font: Roboto;
  --secondary-font: Raleway;
}
